<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "NS-PIERSON.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "À Propos", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Réalisations", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Services", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tarifs", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/assets/Nicolas.jpg')">

</div>
<div class="container">
    <h1 class="text-center" style="margin: 40px 0; font-size: 36px;"><strong>À PROPOS</strong></h1>
  <div class="about" style="margin-top: 20px;">
    <div class="description">
      <h3 class="text-left">QUI SUIS-JE ?</h3>
      <p style="margin-top: 20px;">Bonjour, je suis Nicolas, développeur web indépendant à Rohrbach-lès-Bitche.
         Passionné depuis toujours par le web et les nouvelles technologies, c'est en 2019 que j'entreprend ma reconversion, en intégrant le Wagon - Paris.<br>
         <br>

Depuis lors, c'est dans un souci de simplicité, d'innovation et d'autonomie pour les utilisateurs que je réfléchi mes créations.
Si vous avez une idée en tête, je serais ravi d'en discuter avec vous afin de trouver une solution web sur-mesure adaptée à votre projet.. <br>
<br>

N'hésitez pas à me contacter pour plus d'informations !</p>
    </div>
    <div class="skills">
      <h3>MES COMPÉTENCES</h3>
      <p style="margin-top: 20px;">Je possède des compétences dans différents languages/frameworks/CMS</p>
      <p class="text-center">l</p>
      <p class="text-center">l</p>
      <p class="text-center">l</p>
    </div>
  </div>
  <div class="work">
    <h1 class="text-center" style="margin: 40px 0; font-size: 36px;"><strong>RÉALISATIONS</strong></h1>
    <div class="cards">
      <div class="work-card" style="background-image: url('assets/img site mathilde.png')">

      </div>
      <div class="work-card" style="background-image: url('assets/img site mathilde.png')">

      </div>
      <div class="work-card" style="background-image: url('assets/img site mathilde.png')">

      </div>
    </div>
  </div>
</div>
<div class="mid-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('/assets/macbook_code.jpeg')">

</div>

