<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "NS-PIERSON.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Accueil", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "À Propos", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Réalisations", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Services", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Tarifs", "#", class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", "#", class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/assets/Nicolas.jpg')">

</div>
<div class="container">
    <h1 class="text-center" style="margin: 40px 0; font-size: 36px;"><strong>À PROPOS</strong></h1>
  <div class="about" style="margin-top: 20px;">
    <div class="description">
      <h3 class="text-left">QUI SUIS-JE ?</h3>
      <p style="margin-top: 20px;">Bonjour, je suis Nicolas, développeur web indépendant à Rohrbach-lès-Bitche.
         Passionné depuis toujours par le web et les nouvelles technologies, c'est en 2019 que j'entreprend ma reconversion, en intégrant le Wagon - Paris.<br>
         <br>

Depuis lors, c'est dans un souci de simplicité, d'innovation et d'autonomie pour les utilisateurs que je réfléchi mes créations.
Si vous avez une idée en tête, je serais ravi d'en discuter avec vous afin de trouver une solution web sur-mesure adaptée à votre projet.. <br>
<br>

N'hésitez pas à me contacter pour plus d'informations !</p>
    </div>
    <div class="skills">
      <h3>MES COMPÉTENCES</h3>
      <p style="margin-top: 20px;">Je possède des compétences dans différents languages/frameworks/CMS</p>
      <p class="text-center">l</p>
      <p class="text-center">l</p>
      <p class="text-center">l</p>
    </div>
  </div>
  <div class="work">
    <h1 class="text-center" style="margin: 40px 0; font-size: 36px;"><strong>RÉALISATIONS</strong></h1>
    <div class="cards">
      <%= link_to "www.uninstant-pour-soi.fr" do %>
        <div class="work-card" style="background-image: url('assets/img site mathilde.png')">
          <div class="work-card-linear" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="discover">
                <div class="discover-text text-center">
                  <p>Un instant pour soi - Esthéticienne à domicile</p>
                </div>
                <div class="discover-btn d-flex justify-content-center">
                  <p>DECOUVRIR LE SITE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "www.uninstant-pour-soi.fr" do %>
        <div class="work-card" style="background-image: url('assets/img site mathilde.png')">
          <div class="work-card-linear" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="discover">
                <div class="discover-text text-center">
                  <p>Un autre site - profession</p>
                </div>
                <div class="discover-btn d-flex justify-content-center">
                  <p>DECOUVRIR LE SITE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "www.uninstant-pour-soi.fr" do %>
        <div class="work-card" style="background-image: url('assets/img site mathilde.png')">
          <div class="work-card-linear" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4))">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="discover">
                <div class="discover-text text-center">
                  <p>Ferme de Beau Printemps - Agriculture Biologique</p>
                </div>
                <div class="discover-btn d-flex justify-content-center">
                  <p>DECOUVRIR LE SITE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="mid-banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/assets/macbook_code.jpeg')">
  <div class="container">
    <h1 class="text-center" style="margin: 40px 0; font-size: 36px; color: white; margin-bottom: 60px;"><strong>CE QUE JE FAIS</strong></h1>
    <div class="services">
      <div class="one-service">
        <p class="text-center"><i class="fas fa-laptop" style="color:white; font-size: 36px;"></i></p>
        <h6 class="text-center">DEVELOPPEMENT WEB</h6>
        <p class="text-center">Je crée le site internet qui vous correspond selon vos envies, les possibilités sont infinies..</p>
      </div>
      <div class="one-service">
        <p class="text-center"><i class="fas fa-mobile-alt" style="color:white; font-size: 36px;"></i></p>
        <h6 class="text-center">DESIGN RESPONSIVE</h6>
        <p class="text-center">Du téléphone à l'ordinateur en passant par la tablette, votre site s'adapte à tous les affichages</p>
      </div>
      <div class="one-service">
        <p class="text-center"><i class="fas fa-paint-brush" style="color:white; font-size: 36px;"></i></p>
        <h6 class="text-center">ENTRETIEN ET MODIFICATION</h6>
        <p class="text-center">Vous avez changé d'avis ? aucun problème, je suis à votre disposition pour effectuer toutes les modifications qui vous font envie.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center" style="margin: 40px 0; font-size: 36px;"><strong>CONTACTEZ MOI!</strong></h1>
  <div class="contact">
    <div class="info">
      <h3 class="text-left">MES INFOS</h3>
      <i class="fas fa-home" style="border: 1px black solid; color: black; font-size: 14px; padding: 10px;"></i> Rohrbach-lès-Bitche
      <br>
      <br>
      <i class="far fa-envelope" style="border: 1px black solid; color: black; font-size: 16px; padding: 10px;"></i> contact@nspierson.com
      <br>
      <br>
      <i class="fas fa-phone" style="border: 1px black solid; color: black; font-size: 16px; padding: 10px;"></i> 07.61.09.80.32
      <br>
      <br>
      <i class="fab fa-github" style="border: 1px black solid; color: black; font-size: 16px; padding: 10px;"></i> Github
      <br>
      <br>
      <i class="fab fa-linkedin-in" style="border: 1px black solid; color: black; font-size: 16px; padding: 10px;"></i> Linkedin
    </div>
    <div class="contact-form">

    </div>
  </div>
</div>
<div class="footer">

</div>


